@model AuthorEditModel

@{
    ViewData["Title"] = "Изменение автора";
}

<div class="card shadow mb-4 mt-4 col-md-6 col-sm-12">
    <div class="card-header"><strong>Автор</strong> Изменение</div>
    <form asp-action="Edit">
        <div class="card-body">

            <div class="form-horizontal form-label-left">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id"/>
                <div class="item form-group">
                    <label asp-for="FullName" class="control-label col-12"></label>
                    <div class="input-group col-12">
                        <input asp-for="FullName" required class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="FullName" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            <a class="btn btn-secondary" href="@Url.Action("Index")">Назад</a>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
      $("select").selectpicker();
    })
</script>


