@using LibraryService.Domain.Core.Extensions
@model IEnumerable<BookSearchResultModel>
@{
    var pagesCount = (int) ViewBag.PagesCount;
    var selectedPage = (int) ViewBag.SelectedPage;
}
<hr>
@if (!Model.Any())
{
    <h3>Книги по данному запросу не найдены!</h3>
}
else
{
    <div class="row justify-content-center mx-auto">
        <nav aria-label="...">
            <ul class="pagination">

                @if (selectedPage == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link">Пред.</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" onclick="ChangeSkip(@(selectedPage - 2))" href="javascript:void(0)">Пред.</a>
                    </li>
                }

                @if (pagesCount <= 4)
                {
                    for (int i = 1; i < pagesCount; i++)
                    {
                        if (i == selectedPage)
                        {
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(i - 1))">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(i - 1))">@i</a>
                            </li>
                        }
                    }
                }
                else
                {
                    if (selectedPage < 3)
                    {
                        for (int i = 1; i < 4; i++)
                        {
                            if (selectedPage == i)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(i - 1))">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(i - 1))">@i</a>
                                </li>
                            }
                        }
                        <li class="page-item disabled">
                            <a class="page-link">...</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(pagesCount - 1))">@pagesCount</a>
                        </li>
                    }
                    else if (selectedPage == pagesCount || selectedPage > pagesCount - 2 || selectedPage == 2)
                    {
                        <li class="page-item ">
                            <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(0)">1</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link">...</a>
                        </li>
                        for (int i = pagesCount - 2; i <= pagesCount; i++)
                        {
                            if (selectedPage == i)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(i - 1))">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(i - 1))">@i</a>
                                </li>
                            }
                        }
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(0)">1</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link">...</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(selectedPage - 2))">@(selectedPage - 1)</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(selectedPage - 1))">@selectedPage</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(selectedPage))">@(selectedPage + 1)</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link">...</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(pagesCount - 1))">@pagesCount</a>
                        </li>
                    }
                }


                @if (selectedPage == pagesCount)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">След</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" onclick="ChangeSkip(@(selectedPage))">След.</a>
                    </li>
                }

            </ul>
        </nav>
    </div>
    <div class="row mx-auto">
        @foreach (var book in Model)
        {
            <div class="col-md-2 col-sm-4 card text-center px-0">
                <img class="card-img-top" src="@book.ImageLink" alt="@book.Title">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <small>@book.Publisher - @book.Author</small>
                    <p class="card-text">@book.Subtitle</p>
                </div>
                @if (User.IsReader() && book.InStock > 0)
                {
                    <div class="card-footer">
                        <a asp-controller="Reserve" asp-action="MakeReserve" asp-route-idBook="@book.Id" class="card-link">Забронировать (@book.InStock) в наличии)</a>
                    </div>
                }
                else
                {
                    <div class="card-footer">
                        <small>В наличии: @book.InStock</small>
                    </div>
                }
            </div>
        }
    </div>
}
