@inject AuthorRepo AuthorRepo
@inject PublisherRepo PublisherRepo
@inject GenreRepo GenresRepo
@{
    var authors = await AuthorRepo.GetListAsync();
    var publishers = await PublisherRepo.GetListAsync();
    var genres = await GenresRepo.GetListAsync();
}

<div class="card shadow my-2 mx-auto col-md-6 col-sm-12">
    <div class="card-header">
        <strong>Поиск</strong>
    </div>
    <div class="card-body">


        <form asp-action="FindBooks" id="search-form" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#search-result" data-ajax-method="GET" data-ajax-success="ActivateButton()">
            <input name="skip" type="number" id="skip" hidden value="0">
            <div class="row">
                <div class="form-group col-6 col-xs-12">
                    <label for="idPublisher" class="col-form-label">Издатель</label>
                    <select name="idPublisher" id="idPublisher" data-live-search="true" class="form-control">
                        <option selected value="-1">Все</option>
                        @foreach (var publisher in publishers)
                        {
                            <option value="@publisher.Id">@publisher.Name </option>
                        }
                    </select>
                </div>
                <div class="form-group col-6 col-xs-12">
                    <label for="idPublisher" class="col-form-label">Автор</label>
                    <select name="idAuthor" id="idAuthor" data-live-search="true" class="form-control">
                        <option selected value="-1">Все</option>
                        @foreach (var author in authors)
                        {
                            <option value="@author.Id">@author.FullName </option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label for="genres" class="col-form-label">Жанры</label>
                    <select name="genres" id="genres" data-live-search="true" multiple class="form-control">
                        @foreach (var genre in genres)
                        {
                            <option value="@genre.Id">@genre.Name </option>
                        }
                    </select>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-6 col-xs-12">
                    <label for="take" class="col-form-label">Показать</label>
                    <select name="take" id="take" class="form-control">
                        <option selected value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="form-group col-auto ml-auto mt-auto float-right">
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="search-result" class="container-fluid">

</div>
<script>
    
    $(document).ready(function (){
        $('select').selectize();
    })    
    
    function ChangeSkip(page) {
        $("#skip").val(page);
        SubmitSearchForm();
    }
    
    function SubmitSearchForm(){
        $("#search-form").submit();
    }
</script>
 
