@model LibraryService.Models.Users.ResetPasswordViewModel
<div class="card shadow mb-4 mt-4 col-md-6 col-sm-12">
    <div class="card-header"><strong>Пароль</strong> Сброс</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-action="ChangePassword">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="IdUser" type="hidden"/>
                    <input asp-for="Code" type="hidden"/>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" readonly class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </form>
            </div>
        </div>
    </div>
</div>