﻿@model LibraryService.Models.Users.RegisterViewModelWithRoles
@inject RolesRepo Repository
@{
    ViewData["Title"] = "Добавление пользователя";
}
@{
    var rolesRepo = Repository;
    var roles = rolesRepo.GetList();
}

<div class="card shadow mb-4 mt-4 col-md-6 col-sm-12">
    <div class="card-header"><strong>Пользователи</strong> Регистрация</div>
    <form asp-action="Register">
        <div class="card-body">
            <div class="row mt-2">
                <div class="col-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control"/>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control"/>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Patronymic" class="control-label"></label>
                        <input asp-for="Patronymic" class="form-control"/>
                        <span asp-validation-for="Patronymic" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Roles" class="control-label"></label>
                        @foreach (var role in roles)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="Roles" id="radio-@role.Id" value="@role.Name">
                                <label class="form-check-label" for="radio-@role.Id">
                                    @role.Description
                                </label>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a class="btn btn-secondary" href="@Url.Action("Index")">Назад</a>
        </div>
    </form>
</div>

<script>
    $(function () {
        $('.selectpicker').selectpicker();
    });
</script>