﻿<footer style="display:none;">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>
    </div>
</footer>