﻿<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/af-2.3.4/b-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sl-1.3.1/datatables.min.css"/>

<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.0/css/selectize.bootstrap4.min.css" integrity="sha512-qktYcs1jG0pnuA/ytX0UPY7p+g/cgWZxhNv7T5tjUm6Cc0T+SftVd4PfzBOeZ/mq2an7+8SrDyA7a9u3Uh9wpw==" crossorigin="anonymous" />
<!-- jquery latest version -->
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

<link href="~/node_modules/pnotify/dist/PNotifyBrightTheme.css" rel="stylesheet" type="text/css"/>

<!-- Core plugin JavaScript-->
<script src="~/node_modules/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script src="~/node_modules/pnotify/dist/iife/PNotify.js"></script>
<script src="~/node_modules/pnotify/dist/iife/PNotifyButtons.js"></script>

<link href="~/node_modules/@@coreui/coreui/dist/css/coreui.min.css" rel="stylesheet">

