﻿<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <meta name="theme-color" content="#ffffff">
    <!-- Main styles for this application-->
    <partial name="_HeaderScripts"/>

</head>
<body class="c-app">
<partial name="_SideBarPartial"/>
<div class="c-wrapper c-fixed-components">
    <partial name="_UpperBar"/>
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">
                    <div id="res"></div>
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
</div>

<partial name="_FooterScripts"/>
<partial name="_BaseScripts"/>
<partial name="_ModalPartial"/>
</body>
</html>