﻿<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Вход</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="../node_modules/@@coreui/coreui/dist/css/coreui.min.css" rel="stylesheet">
</head>


<body class="c-app flex-row align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5">
            <div class="card-group">
                <div class="card p-4">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../node_modules/@@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
<!--[if IE]><!-->
<script src="../node_modules/@@coreui/icons/js/svgxuse.min.js"></script>
<!--<![endif]-->

</body>

</html>