@model Notification

<div id="res">

    <script>
        $(document).ready(function() {
            CloseModal();
        });

    </script>

    @if (Model.Type == NotificationType.Success)
    {
        <script>
            $(document).ready(function() {
                PNotify.removeAll();
                var notif = PNotify.success({
                    title: '@Html.Raw(Model.Title)',
                    text: '@Html.Raw(Model.Message)'
                });
            });

        </script>
    }
    else if (Model.Type == NotificationType.Error)
    {
        <script>
            $(document).ready(function() {
                PNotify.removeAll();
                var notif = PNotify.error({
                    title: '@Html.Raw(Model.Title)',
                    text: '@Html.Raw(Model.Message)'
                });
            });

        </script>
    }
    else if (Model.Type == NotificationType.Notice)
    {
        <script>
            $(document).ready(function() {
                PNotify.removeAll();
                var notif = PNotify.notice({
                    title: '@Html.Raw(Model.Title)',
                    text: '@Html.Raw(Model.Message)'
                });
            });
        </script>
    }
</div>

