﻿@using LibraryService.Domain.Core.Extensions
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand d-lg-down-none">
        <h3 class="c-sidebar-brand-full" width="118" height="46" alt="Logo">
            Libro
        </h3>
        <h4 class="c-sidebar-brand-minimized" width="46" height="46" alt="Logo">
            L
        </h4>
    </div>
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="@Url.Action("Index", "Dashboard")">
                <svg class="c-sidebar-nav-icon">
                    <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-puzzle"></use>
                </svg> Главная
            </a>
        </li>
        @if (User.AdminLevelAccess())
        {
            <li class="c-sidebar-nav-title">Администрирование</li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="@Url.Action("Index", "Users")">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-group"></use>
                    </svg> Пользователи
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="@Url.Action("Index", "Genres")">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-tags"></use>
                    </svg> Жанры
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="@Url.Action("Index", "Publishers")">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-institution"></use>
                    </svg> Издатели
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="@Url.Action("Index", "Authors")">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-contact"></use>
                    </svg> Авторы
                </a>
            </li>
        }
        @if (User.LibrarianLevelAccess())
        {
            <li class="c-sidebar-nav-title">Управление библиотекой</li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="@Url.Action("Index", "Books")">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-book"></use>
                    </svg> Книги
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="@Url.Action("IssuedBooks", "Issue")">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-action-undo"></use>
                    </svg> Прием книг
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="@Url.Action("ReservedBooks", "Issue")">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-action-redo"></use>
                    </svg> Выдача книг
                </a>
            </li>
        }
        @if (User.ReaderLevelAccess())
        {
            <li class="c-sidebar-nav-title">Каталог книг</li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="@Url.Action("Index", "BookSearch")">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-search"></use>
                    </svg> Поиск книг
                </a>
            </li>
            @if (User.IsReader())
            {
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="@Url.Action("Index", "Reserve")">
                        <svg class="c-sidebar-nav-icon">
                            <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-bookmark"></use>
                        </svg> Забронированные
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="@Url.Action("Index", "Issue")">
                        <svg class="c-sidebar-nav-icon">
                            <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-library"></use>
                        </svg> Выданные
                    </a>
                </li>
            }
        }
    </ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>



