<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
        <svg class="c-icon c-icon-lg">
            <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-menu"></use>
        </svg>
    </button>
    <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
        <svg class="c-icon c-icon-lg">
            <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-menu"></use>
        </svg>
    </button>

    <ul class="c-header-nav ml-auto mr-4">

        <li class="c-header-nav-item dropdown">
            <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="c-avatar">
                    <img class="c-avatar-img" src="../assets/default-user.png" alt="user@email.com">
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right pt-0">
                <div class="dropdown-header bg-light py-2">
                    <strong>Настройки</strong>
                </div>
                <a class="dropdown-item" href="#">
                    <svg class="c-icon mr-2">
                        <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-user"></use>
                    </svg> Профиль
                </a>

                <form id="signOutForm" asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@Url.Action("Login", "Account")"></form>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" onclick="SignOut()" href="#">
                    <svg class="c-icon mr-2">
                        <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-account-logout"></use>
                    </svg> Выйти
                </a>
            </div>
        </li>
    </ul>
</header>
<script>
    function SignOut() {
      $("#signOutForm").submit();
    }
</script>
