@model BookEditModel

@inject AuthorRepo AuthorRepo
@inject PublisherRepo PublisherRepo

@{
    ViewData["Title"] = "Добавление книги";
    var authors = await AuthorRepo.GetListAsync();
    var publishers = await PublisherRepo.GetListAsync();
}

<div class="card shadow mb-4 mt-4 col-md-6 col-sm-12">
    <div class="card-header"><strong>Книги</strong> Добавление</div>
    <form asp-action="Create">
        <div class="card-body">

            <div class="form-horizontal form-label-left">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="item form-group">
                    <label asp-for="Title" class="control-label col-12"></label>
                    <div class="input-group col-12">
                        <input asp-for="Title" required class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="Title" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="SubTitle" class="control-label col-12"></label>
                    <div class="input-group col-12">
                        <input asp-for="SubTitle" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="SubTitle" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="Description" class="control-label col-12"></label>
                    <div class="input-group col-12">
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="Description" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="Pages" class="control-label col-12"></label>
                    <div class="input-group col-6">
                        <input asp-for="Pages" type="number" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="Pages" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="ISBN" class="control-label col-12"></label>
                    <div class="input-group col-6">
                        <input asp-for="ISBN" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="ISBN" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="Published" class="control-label col-12"></label>
                    <div class="input-group col-6">
                        <input asp-for="Published" type="date" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="Published" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="IdAuthor" class="control-label col-12"></label>
                    <div class="input-group col-6">
                        <select asp-for="IdAuthor" id="idAuthor" data-live-search="true" class="form-control">
                            @foreach (var author in authors)
                            {
                                <option value="@author.Id">@author.FullName</option>
                            }
                        </select>
                        <span asp-validation-for="IdAuthor" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="IdPublisher" class="control-label col-12"></label>
                    <div class="input-group col-6">
                        <select asp-for="IdPublisher" id="idPublisher" data-live-search="true" class="form-control">
                            @foreach (var publisher in publishers)
                            {
                                <option value="@publisher.Id">@publisher.Name</option>
                            }
                        </select>
                        <span asp-validation-for="IdPublisher" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a class="btn btn-secondary" href="@Url.Action("Index")">Назад</a>
        </div>
    </form>
</div>



