@model BookEditModel

@inject AuthorRepo AuthorRepo
@inject PublisherRepo PublisherRepo
@inject GenreRepo GenreRepo

@{
    ViewData["Title"] = "Изменение книги";
    var authors = await AuthorRepo.GetListAsync();
    var publishers = await PublisherRepo.GetListAsync();
    var genres = await GenreRepo.GetListAsync();
}

<div class="card shadow mb-4 mt-4 col-md-6 col-sm-12">
    <div class="card-header"><strong>Книги</strong> Изменение</div>
    <form asp-action="Edit">
        <div class="card-body">

            <div class="form-horizontal form-label-left">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id"/>
                <div class="item form-group">
                    <label asp-for="Title" class="control-label col-12"></label>
                    <div class="input-group col-12">
                        <input asp-for="Title" required class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="Title" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="SubTitle" class="control-label col-12"></label>
                    <div class="input-group col-12">
                        <input asp-for="SubTitle" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="SubTitle" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="Description" class="control-label col-12"></label>
                    <div class="input-group col-12">
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="Description" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="Pages" class="control-label col-12"></label>
                    <div class="input-group col-6">
                        <input asp-for="Pages" type="number" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="Pages" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="ISBN" class="control-label col-12"></label>
                    <div class="input-group col-6">
                        <input asp-for="ISBN" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="ISBN" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="Published" class="control-label col-12"></label>
                    <div class="input-group col-6">
                        <input asp-for="Published" type="date" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <span asp-validation-for="Published" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="IdAuthor" class="control-label col-12"></label>
                    <div class="input-group col-6">
                        <select asp-for="IdAuthor" id="idAuthor" data-live-search="true" class="form-control">
                            @foreach (var author in authors)
                            {
                                if (Model.IdAuthor == author.Id)
                                {
                                    <option selected value="@author.Id">@author.FullName </option>
                                }
                                else
                                {
                                    <option value="@author.Id">@author.FullName </option>
                                }
                            }
                        </select>
                        <span asp-validation-for="IdAuthor" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="IdPublisher" class="control-label col-12"></label>
                    <div class="input-group col-6">
                        <select asp-for="IdPublisher" id="idPublisher" data-live-search="true" class="form-control">
                            @foreach (var publisher in publishers)
                            {
                                if (Model.IdPublisher == publisher.Id)
                                {
                                    <option selected value="@publisher.Id">@publisher.Name </option>
                                }
                                else
                                {
                                    <option value="@publisher.Id">@publisher.Name </option>
                                }
                            }
                        </select>
                        <span asp-validation-for="IdPublisher" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label asp-for="Genres" class="control-label col-12"></label>
                    <div class="input-group col-6">
                        <select asp-for="Genres" id="Genres" multiple class="form-control">
                            @foreach (var genre in genres)
                            {
                                if (Model.Genres.Contains(genre.Id))
                                {
                                    <option selected value="@genre.Id">@genre.Name </option>
                                }
                                else
                                {
                                    <option value="@genre.Id">@genre.Name </option>
                                }
                            }
                        </select>
                        <span asp-validation-for="Genres" class="text-danger col-12 py-1"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            <a class="btn btn-secondary" href="@Url.Action("Index")">Назад</a>
        </div>
    </form>
</div>

<script>
    $(document).ready(function (){
        $('select').selectize();
    })    
</script>

