@model IEnumerable<IssueIndexViewModel>
<table id="active-table" class="table text-center">
    <thead class="text-uppercase">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>

        </tr>
    }
    </tbody>
</table>