@model IEnumerable<IssueIndexViewModel>

@{
    ViewData["Title"] = "Выданные книги";
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#reserve" role="tab" aria-controls="home">
            <svg class="c-icon">
                <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-check"></use>
            </svg>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#inactive" role="tab" aria-controls="home">
            <svg class="c-icon">
                <use xlink:href="../node_modules/@@coreui/icons/sprites/free.svg#cil-trash"></use>
            </svg>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="reserve" role="tabpanel">
        <div class="card shadow mb-4 mt-4">
            <div class="card-body">
                @await Html.PartialAsync("_ActiveTable", Model.Where(p => !p.IsReturned))
            </div>
        </div>
    </div>
    <div class="tab-pane" id="inactive" role="tabpanel">
        <div class="card shadow mb-4 mt-4">
            <div class="card-body">
                @await Html.PartialAsync("_InactiveTable", Model.Where(p => p.IsReturned))
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        initTable("active-table");
        initTable("inactive-table");
    });
</script>

