@model IEnumerable<IssueReturnViewModel>

<div class="tab-content">
    <div class="tab-pane active" id="reserve" role="tabpanel">
        <div class="card shadow mb-4 mt-4">
            <div class="card-body">
                <table id="table" class="table text-center">
                    <thead class="text-uppercase">
                    <tr>
                        <th>

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Book)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserFullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>

                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Book)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            <td>
                                <ul class="d-flex justify-content-center">
                                    <span>
                                        <a asp-action="ReturnBook" asp-controller="Issue" asp-route-idIssue="@item.Id" class="text-primary">
                                            <svg class="c-icon c-icon-lg">
                                                <use xlink:href="/node_modules/@@coreui/icons/sprites/free.svg#cil-check"></use>
                                            </svg>
                                        </a>
                                    </span>
                                </ul>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
            initTable("table");
    });
</script>