﻿@model IEnumerable<PublisherIndexViewModel>

@{
    ViewData["Title"] = "Издатели";
}
<div class="card shadow mb-4 mt-4">
    <div class="card-body">
        <div class="col-12">
            <a asp-action="Create" class="btn btn-pill float-right btn-success">Добавить</a>
        </div>
        <table id="table" class="table text-center">
            <thead class="text-uppercase">
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <ul class="d-flex justify-content-center">
                            <span class="mr-3">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary">
                                    <svg class="c-icon c-icon-lg">
                                        <use xlink:href="node_modules/@@coreui/icons/sprites/free.svg#cil-pencil"></use>
                                    </svg>
                                </a>
                            </span>
                            <span>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">
                                    <svg class="c-icon c-icon-lg">
                                        <use xlink:href="node_modules/@@coreui/icons/sprites/free.svg#cil-trash"></use>
                                    </svg>
                                </a>
                            </span>
                        </ul>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        initTable("table");
    });
</script>



