﻿@model LibraryService.Models.Users.LoginViewModel
@{
    ViewData["Title"] = "Авторизация";
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}
<form asp-action="Login" class="user">
    <div class="card-body">
        <h1>Вход в аккаунт</h1>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <svg class="c-icon">
                        <use xlink:href="node_modules/coreui/icons/sprites/free.svg#cil-user"></use>
                    </svg>
                </span>
            </div>
            <input asp-for="Email" class="form-control" type="text" placeholder="Email">
        </div>
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <svg class="c-icon">
                        <use xlink:href="node_modules/coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                    </svg>
                </span>
            </div>
            <input class="form-control" asp-for="Password" type="password" placeholder="Пароль">
        </div>
        <div class="input-group">
            <div class="form-group row">
                <div class="col-md-12 col-form-label">
                    <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" id="remember-checkbox" asp-for="RememberMe" type="checkbox">
                        <label class="form-check-label" for="remember-checkbox">Запомнить меня?</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input class="btn btn-primary px-4" type="submit"/>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-link px-0" type="button">Forgot password?</button>
            </div>
        </div>
    </div>
</form>
